// Global style variables

// Utility colours
$color__black: #000000;
$color__white: #ffffff;

// Brand colours
$color__primary: #150C3F;
$color__primary--dark: #10092F;
$color__secondary: #DF787A;

// Greyscale
$color__grey: #383838;
$color__grey--lightest: #F6F6F6;

$font__headings: 'Lemon', sans-serif;
$font__standard: 'Nunito', sans-serif;
